.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }